%table.table.table-hover
  %thead
    %tr
      %th #
      %th Title
      %th State
      %th Assignee
  %tbody
    - @issues.each_with_index do |issue, index|
      %tr
        %td= index
        %td= link_to issue.title, issue_path(issue)
        %td= issue.state.humanize
        %td= issue.assigned_to.name
